#navbar {
    height: 50px;
    background-color: black;
}
.shop {
    color: white;
    text-decoration: none;
}
#shopowner {
    color: rgba(255, 166, 0, 0.762);
    text-decoration: none;
    font-size: 25px;
}
a {
    margin-right: 150px;
}